*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

body {
  margin: 0;
}

table {
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid #dfe6e9;
  padding: 5px 0;
}

tr,
td {
  transition: all 0.3s ease-in-out;
}

tr {
  background-color: #ffffff;
}

summary {
  position: relative;
  cursor: pointer;
}

summary h3 {
  display: inline;
}

details {
  padding: 0.5em;
  border: 1px solid #dfe6e9;
  border-radius: 0.25rem;
}

details .icon {
  display: none;
  transition: all 0.3s ease-in-out;
}

details .icon:hover {
  padding: 2px;
  border-radius: 3px;
  background-color: rgba(223, 230, 233, 0.5);
}

details[open] .icon {
  display: inline;
}

details[open] summary {
  border-bottom: 1px solid #dfe6e9;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

#app {
  min-height: 100vh;
}

.dragenter {
  color: #fff;
  background-color: rgba(83, 82, 237, 1);
}

.dragstart {
  background-color: rgba(223, 230, 233, 0.5);
}

.n-code {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #f9f9f9;
  overflow: auto;
}
